<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @book.title %>
      </h1>
    </section>
  </aside>
  <aside class="col-md-4">
    <%= image_tag("http://images.amazon.com/images/P/#{@book.isbn}", :class => "book-page_image", :alt => "book cover") %>
  </aside>
</div>