// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pagination {
    padding-left: 32px;
}

.book_show_button {
    width: 100%;
    margin-top: 16px;
}

.book_show_controls {
    margin-top: 20px;
}

.book_show_available {
    font-size: 2em;
}

.books {
    margin-bottom: 24px;
    li {
        padding-top:  2px;
        padding-bottom:  2px;
    }
}

.books_category-link {
    display: block;
}

.books_nav {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 16px;
}

.books_search-form {
    margin-bottom: 16px;
}

ul.pagination,
div.pagination {
    margin-top: 0px;
}