// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_checkboxes {
    .checkbox{
        width: 50%;
        float: left;
    }
    .check_boxes {
        width: 100%;
        margin-bottom: 10px;

    }
}

.category_submit_button {
    margin-top: 16px;
}

.categories_index_column {
    width: 50%;
    float: left
}

input.categories_add_button.btn {
    margin-bottom: 16px;
}

.categories_add_title {
    margin-top: 0px;
}